<%- include('partials/header') -%>

<div class="container mt-5">
  <div class="row justify-content-center pt-5">
    <div class="col-6 d-flex justify-content-center align-items-center flex-column">
      <h2><%= post.title %></h2>
      <p><%= post.caption %></p>
      <img class="img-fluid" src="<%= post.image%>" />
    </div>

    <div class="row justify-content-center">
      <form
        class="col-3 d-flex justify-content-center"
        action="/post/likePost/<%= post.id %>?_method=PUT"
        method="POST"
      >
        <button class="btn btn-primary fa fa-heart" type="submit"></button>
      </form>
      <h3 class="col-4 text-center">Likes: <%= post.likes %></h3>
      <%if(post.user == user.id){ %>
      <form
        action="/post/deletePost/<%= post.id %>?_method=DELETE"
        method="POST"
        class="col-3 d-flex justify-content-center"
      >
        <button class="btn btn-primary fa fa-trash" type="submit"></button>
      </form>
      <%}%>
    </div>
    
    <div class="row mt-3 justify-content-center">
      <div class="col-6 d-flex flex-column">
        <ul class="list-unstyled">
          <% for(var i=0; i<comments.length; i++) {%>
            <li>
              <p><span class="fw-bold"><%=userNames[i]%></span> <%=comments[i].comment%></p>
            </li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="row mt-3 pb-3 justify-content-center">
       <div class="col-6 d-flex flex-column">
        <h2>Add a comment</h2>
        <form action="/comment/createComment/<%=post._id%>" method="POST">
          <div class="mb-3">
              <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-primary w-100" value="Upload">Comment</button>
        </form>
       </div>
    </div>
    
  </div>
</div>

<%- include('partials/footer') -%>
